<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hugmount.helloboot.test.mapper.TestMapper" >

    <select id="getTestList" parameterType="com.hugmount.helloboot.test.pojo.Test" resultType="com.hugmount.helloboot.test.pojo.Test">
        select id id
        , creat_time creatTime
        FROM t_test
        <!-- 注意: id为Long类型,id != '' 表示 id != 0, mybatis会把''处理为0 , 不能直接些数字-->
        <if test="id != null and id != '' and id != '150'.toString() ">
            WHERE
            id = #{id}
        </if>

    </select>

    <insert id="insertTest" parameterType="com.hugmount.helloboot.test.pojo.Test">
        insert into t_test(username) values ( #{username})
    </insert>
</mapper>