<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hugmount.helloboot.test.mapper.TestMapper" >

    <select id="getTestList" parameterType="com.hugmount.helloboot.test.pojo.Test" resultType="com.hugmount.helloboot.test.pojo.Test">
        select id id
        , creat_time creatTime
        FROM t_test
        <if test="id == 2">
            WHERE
            id = #{id}
        </if>

    </select>
</mapper>