<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hugmount.helloboot.product.mapper.ProductMapper" >

    <resultMap id="BaseResultMap" type="com.hugmount.helloboot.product.pojo.ProductInfo">
        <id column="product_name" property="productName" jdbcType="VARCHAR" />
        <id column="product_price" property="productPrice" jdbcType="DECIMAL" />
        <id column="create_time" property="createTime" jdbcType="DATE" />
    </resultMap>

    <insert id="insertProduct" parameterType="com.hugmount.helloboot.product.pojo.ProductInfo">
        INSERT INTO product_info (product_id
            ,product_name
            ,product_price
            ,product_stock
            ,product_description
            ,product_icon
            ,product_status
            ,category_type
            ,create_time
            ,update_time
        ) VALUES (
            #{productId}
            ,#{productName}
            ,#{productPrice}
            ,#{productStock}
            ,#{productDescription}
            ,#{productIcon}
            ,#{productStatus}
            ,#{categoryType}
            ,sysdate
            ,sysdate
        )
    </insert>

    <select id="getProductList" parameterType="com.hugmount.helloboot.product.pojo.ProductInfo" resultMap="BaseResultMap">
        select product_name
            ,product_price
            ,create_time
        FROM product_info

    </select>
</mapper>